<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="container" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;">

<div [hidden]="!standby_home_page">
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <p class="card-text">Validating your details...</p>
    </div>
  </div>
</div>
<div [hidden]="standby_home_page">
<!--top navigation bar start-->
<div class="topnav" [hidden]="!view_while_login_auth_true">
<div id="main">
  <button type="button" class="btn btn-success" (click)="openNav();">☰ View profile</button>  
</div>
  <div class="search-container">
  </div>
</div>
<!-- top nevigation bar end-->
<div class="jumbotron card text-center" style="background-image: url('https://raw.githubusercontent.com/Rajdeep5674/angular-ivy-zfs6zq/master/src/app/assets/close-up-photography-of-colored-pencils-743986.jpg'); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;">
  <h1>askany.com
    <div [hidden]="!view_while_login_auth_true">
      welcomes {{full_name_received_from_server}}
      </div></h1>      
  <p>Post any query/thoughts here. Everyone can see your post </p>
</div>
<!--collapsed side nav bar start-->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <div class="card py-2 m bg-light text-center">
      <h4 style="color:#5cb85c">&nbsp;&nbsp;{{full_name_received_from_server}}</h4>
    </div>
  <a href="#home" (click)="home();">Home</a>
  <a href="#Your_Account" (click)="your_account();">Your Account</a>
  <a href="#notifications" (click)="notifications();">Notifications</a>
  <a href="#Your_Posts" (click)="your_posts();">Your Posts</a>
  <a href="#Contact_Us" (click)="contact_us();">Contact Us</a>
  <a href="#Logout" (click)="logout();">Logout</a>
</div>
<!--collapsed side nav bar end-->
<!--your account start-->
  <div id="Your_Account" class="card border py-3" [hidden]="!your_account_boolean">
        <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Your basic details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><div style="color:#5cb85c"> Full name:</div> 
          <div>
            {{full_name_received_from_server}}
          </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><div style="color:#5cb85c">User id:</div>
          <div>
             {{user_id_received_from_server}}<br>
          </div>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><div style="color:#5cb85c">Email id: </div>
          <div>
            {{email_received_from_server}}
          </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="text-center" type="button" class="btn btn-success" (click)="your_account_back();">Back
      </button>
  </div>
<!--your account end-->
<!--notification start-->
  <div [hidden]="!notifications_boolean">
    <p>All your notification will be displayed here</p>
    <button type="button" class="btn btn-success" (click)="notifications_back();">Back
      </button>
  </div>
<!--notofication end-->
<!--your posts start-->
  <div [hidden]="!your_posts_boolean">
      <div class="card py-2 " *ngFor="let my_post of my_posts;index as i;">
          <div class="card text-center">
              <div class="card-header">
                Post id-{{my_post.post_id}}
              </div>
              <div class="card-body">
                <h5 style="color:green"class="card-title text-primary">{{ my_post.full_name }}</h5>
                <p class="card-text">{{ my_post.message }}</p>
              </div>
              <div class="card-footer text-muted">
                posted on {{my_post.post_time}}
              </div>
          </div>
        <small *ngIf="PostIdAndMessageToUser.post_id===(my_post.post_id) && like_clicked;else elseBlock" style="color:green">{{PostIdAndMessageToUser.message_to_user}}</small>
        <ng-template #elseBlock><small style="color:green" class="text-right text-primary font-italic"><a (click)="who_liked(my_post.post_id);">&nbsp;{{my_post.like_count}}&nbsp;people liked this post</a></small></ng-template>
        <br>


        <!--form for accepting the comment-->
        <div [hidden]="go" *ngIf="PostIdAndMessageToUser.post_id_for_comment===(my_post.post_id)">
          <form (ngSubmit)="commentSubmitted(my_post.post_id)" #commentForm="ngForm">
              <div class="form-group">
                <input type="hidden" id="hidden_post_id" [(ngModel)]="CommentModel.post_id" value="my_post.post_id" name="hidden_post_id"> 
              <textarea rows="4" cols="50" name="comment" class="form-control" id="comment"
                      required
                      [(ngModel)]="CommentModel.comment"
                      #message="ngModel" placeholder="Type your comment here." name="comment"></textarea><br>
              </div>
              <button type="submit" class="btn btn-success" [disabled]="!commentForm.form.valid">Go</button>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-success" (click)="cancel(my_post.post_id);">Cancel</button>
              <hr>
          </form>
          <!--end of comment form-->
        </div>
              <div [hidden]="!view_all_commeents_loading" class="card-body">
                <p class="card-text">Loading comemnts...</p>
              </div>
        <div *ngIf="view_all_comments_boolean && PostIdComments.post_id===(my_post.post_id)">
            <div *ngIf="no_comments_yet; else elseBlock">
              <small style="color:blue" class="text-primary font-italic">&nbsp;Oops!! no comment yet, be the first one to comment !!</small>
            </div>
            <ng-template #elseBlock>
          <div *ngFor="let comment of comment_array">
            <div class="card">
              <div class="card-header">
                <small>{{data_from_server_for_comment[comment].commentor_name}}</small>
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <small>{{data_from_server_for_comment[comment].comment}}</small>
                  <footer class="blockquote-footer"><small>commented on <cite title="Source Title">{{data_from_server_for_comment[comment].comment_time}}</cite></small></footer>
                </blockquote>
              </div>
            </div>
          </div>
            </ng-template>

        <!--like comment show all comment hide all comments section-->
        </div>
          <ul class="nav">
            <li [hidden]="!view_while_login_auth_true" class="nav-item">
              <a style="color:green"  class="nav-link" (click)="like(my_post.post_id);"><i class='far fa-thumbs-up'></i></a>
            </li>


            <li [hidden]="!view_while_login_auth_true" class="nav-item">
              <a style="color:green"  class="nav-link" (click)="comment(my_post.post_id);"><i class='far fa-comment'></i></a>
            </li>
            <li class="nav-item">
              <a style="color:green" class="nav-link" (click)="view_all_comments(my_post.post_id);"><i class='far fa-comment-dots' ></i></a>
            </li>
            <li class="nav-item">
              <a style="color:green" class="nav-link" (click)="hide_all_comments(my_post.post_id);"><i class='fas fa-comment-slash'></i></a>
            </li>
          </ul> 
          <hr>
          <div class="text-center"><button class="btn btn-success" (click)="your_posts_delete(my_post.post_id)">Delete this post</button></div>
      </div><br>
      <div class="text-center"><button class="btn btn-success" (click)="your_posts_back()">Close</button></div>
</div>
<!--your post ends-->
<!--login and signup section start-->
  <div class="alert alert-info card" role="alert" [hidden]="view_while_login_auth_true">
  Please login to post your query. You can like/comment on other's posts as well.<br><small class="font-italic">Note: You can always view all the posts without login.</small>
</div>
  <!--existing user login-->
  <div [hidden]="view_while_login_auth_true">
    &nbsp; &nbsp;<button type="button" class="btn btn-success" (click)="login();">Login</button> &nbsp;&nbsp;&nbsp;

  <div class="card border py-3" [hidden]="login_closed" *ngIf="login_boolean">
    <div class="container">
        <h1>Login form</h1>
              <form (ngSubmit)="loginAuthCheck();" #loginForm="ngForm">
            <div class="form-group">
                <label for="user_id_for_login"></label>
                <input type="text" class="form-control" id="user_id_for_login"
                      required
                      [(ngModel)]="LoginModel.user_id" name="user_id_for_login"
                      #user_id_for_login="ngModel" placeholder="Enter your user id">
                <div [hidden]="user_id_for_login.valid || user_id_for_login.untouched"
                    class="alert alert-danger">
                  Userid is required
                </div>
              </div>

              <div class="form-group">
                <label for="password1"></label>
                <input type="password" class="form-control" id="password_for_login"
                      required
                      [(ngModel)]="LoginModel.password" name="password_for_login"
                      #password_for_login="ngModel" placeholder="Enter your password">
                <div [hidden]="password_for_login.valid || password_for_login.untouched"
                    class="alert alert-danger">
                  Password is required
                </div>
              </div>
              <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-success" (click)="cancel_login();">Cancel</button><br>
            </form>
          </div>
        </div>
  <!--existing user login end-->

  <!--new user login-->
  <button [hidden]="login_boolean || new_user_created_successfully" type="button" class="btn btn-success" (click)="singup();">Sign up</button>
  <hr>
  <div class="card border py-3"[hidden]="signup_closed" *ngIf="signup_boolean">
    <div class="container">
        <h1>Fill the details below</h1>
        <small class="font-italic" style="color:red"> *All fileds are mandatory to fill</small>
              <form (ngSubmit)="signup_form_submitted();" #signupForm="ngForm">
              <div class="form-group">
                <label for="name"></label>
                <input type="text" class="form-control" id="full_name"
                      required
                      [(ngModel)]="CustomerDetaillsRoot.full_name" name="full_name"
                      #full_name="ngModel" placeholder="Enter your full name">
                <div [hidden]="full_name.valid || full_name.untouched ||signup_calcelled"
                    class="alert alert-danger">
                  Name is required
                </div>
              </div>

              <div class="form-group">
                <label for="email"></label>
                <input type="email" class="form-control" id="email"
                      required
                      [(ngModel)]="CustomerDetaillsRoot.email" name="email"
                      #email="ngModel" placeholder="Enter your email id">
                <div [hidden]="email.valid || email.untouched || signup_calcelled"
                    class="alert alert-danger">
                  Email is required
                </div>
              </div>

              <div class="form-group">
                <label for="user_id"></label>
                <input type="text" class="form-control" id="user_id"
                      required
                      [(ngModel)]="CustomerDetaillsRoot.user_id" name="user_id"
                      #user_id="ngModel" placeholder="Set your user id">
                      <small>Please set your user id as unique. This will be required while login.</small>
                <div [hidden]="user_id.valid || user_id.untouched || signup_calcelled"
                    class="alert alert-danger">
                  User id is required
                </div>
              </div>

              <div class="form-group">
                <label for="password1"></label>
                <input type="password" class="form-control" id="password1"
                      required
                      [(ngModel)]="CustomerDetaillsRoot.password1" name="password1"
                      #password1="ngModel" placeholder="Set your password">
                      <small>Please do not set default passwords like 123/test/abc or your name</small>
                <div [hidden]="password1.valid || password1.untouched || signup_calcelled"
                    class="alert alert-danger">
                  Password is required
                </div>
              </div>

              <div class="form-group">
                <label for="password2"></label>
                <input type="password" class="form-control" id="password2"
                      required
                      [(ngModel)]="CustomerDetaillsRoot.password2" name="password2"
                      #password2="ngModel" placeholder="Confirm your password">
                <div [hidden]="password2.valid || password2.untouched || signup_calcelled"
                    class="alert alert-danger">
                  Password is required
                </div>
              </div>

              <a href="#message"><button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Submit</button></a>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-success" (click)="cancel_signup();">Cancel</button><br>
              <small>By clicking submit you accept the <button type="button" (click)="terms();">terms and conditions</button> of askany.com</small>
              <hr>
          </form>
      </div>
  </div>
  </div>
  <!--new user signup end-->
<!--login and signup section end-->

<div [hidden]="your_posts_boolean" class="card border py-3">
  <div class="container">
  <div [hidden]="submitted">
    <h1>Post Here</h1>
    <small [hidden]="view_while_login_auth_true" class="font-italic" style="color:green">Please login to post something</small><br>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <textarea [disabled]="!view_while_login_auth_true" rows="4" cols="50" name="message" class="form-control" id="message"
                required
                [(ngModel)]="PostModel.message"
                #name="ngModel" placeholder="Enter your message/query/post here">Type here..</textarea><br>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid || !view_while_login_auth_true">Post</button>
      <hr>
    </form>
  </div>
  <div [hidden]="!submitted">
    <!--<p>{{message_to_user}}</p>-->
  </div>
    <div [hidden]="your_posts_boolean">
      <button type="button" class="btn btn-success" (click)="viewAllPost();">View all posts</button>&nbsp; &nbsp; &nbsp; &nbsp;

      <button type="button" class="btn btn-success" (click)="hideAllPost();">Hide all posts</button><br><br>
    </div>
    <div [hidden]="!view_all_posts_standby">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <p class="card-text">Loading posts...</p>
      </div>
  </div>
    </div>
    <div [hidden]="view_all_posts_standby">
          <div [hidden]="!view_all_post" class="container border py-2 m-2">
      <div class="card py-2 " *ngFor="let post of data;index as i;">
          <div class="card text-center">
              <div class="card-header">
                Post id-{{post.post_id}}
              </div>
              <div class="card-body">
                <h5 style="color:green"class="card-title text-primary">{{ post.full_name }}</h5>
                <p class="card-text">{{ post.message }}</p>
              </div>
              <div class="card-footer text-muted">
                posted on {{post.post_time}}
              </div>
          </div>
        <small *ngIf="PostIdAndMessageToUser.post_id===(post.post_id) && like_clicked;else elseBlock" style="color:green">{{PostIdAndMessageToUser.message_to_user}}</small>
        <ng-template #elseBlock><small style="color:green" class="text-right text-primary font-italic"><a (click)="who_liked(post.post_id);">&nbsp;{{post.like_count}}&nbsp;people liked this post</a></small></ng-template>
        <br>


        <!--form for accepting the comment-->
        <div [hidden]="go" *ngIf="PostIdAndMessageToUser.post_id_for_comment===(post.post_id)">
          <form (ngSubmit)="commentSubmitted(post.post_id)" #commentForm="ngForm">
              <div class="form-group">
                <input type="hidden" id="hidden_post_id" [(ngModel)]="CommentModel.post_id" value="post.post_id" name="hidden_post_id"> 
              <textarea rows="4" cols="50" name="comment" class="form-control" id="comment"
                      required
                      [(ngModel)]="CommentModel.comment"
                      #message="ngModel" placeholder="Type your comment here." name="comment"></textarea><br>
              </div>
              <button type="submit" class="btn btn-success" [disabled]="!commentForm.form.valid">Go</button>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-success" (click)="cancel(post.post_id);">Cancel</button>
              <hr>
          </form>
          <!--end of comment form-->
        </div>
              <div [hidden]="!view_all_commeents_loading" class="card-body">
                <p class="card-text">Loading comemnts...</p>
              </div>
        <div *ngIf="view_all_comments_boolean && PostIdComments.post_id===(post.post_id)">
            <div *ngIf="no_comments_yet; else elseBlock">
              <small style="color:blue" class="text-primary font-italic">&nbsp;Oops!! no comment yet, be the first one to comment !!</small>
            </div>
            <ng-template #elseBlock>
          <div *ngFor="let comment of comment_array">
            <div class="card">
              <div class="card-header">
                <small>{{data_from_server_for_comment[comment].commentor_name}}</small>
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <small>{{data_from_server_for_comment[comment].comment}}</small>
                  <footer class="blockquote-footer"><small>commented on <cite title="Source Title">{{data_from_server_for_comment[comment].comment_time}}</cite></small></footer>
                </blockquote>
              </div>
            </div>
          </div>
            </ng-template>

        <!--like comment show all comment hide all comments section-->
        </div>
          <ul class="nav">
            <li [hidden]="!view_while_login_auth_true" class="nav-item">
              <a style="color:green"  class="nav-link" (click)="like(post.post_id);"><i class='far fa-thumbs-up'></i></a>
            </li>


            <li [hidden]="!view_while_login_auth_true" class="nav-item">
              <a style="color:green"  class="nav-link" (click)="comment(post.post_id);"><i class='far fa-comment'></i></a>
            </li>
            <li class="nav-item">
              <a style="color:green" class="nav-link" (click)="view_all_comments(post.post_id);"><i class='far fa-comment-dots' ></i></a>
            </li>
            <li class="nav-item">
              <a style="color:green" class="nav-link" (click)="hide_all_comments(post.post_id);"><i class='fas fa-comment-slash'></i></a>
            </li>
          </ul> 
      </div>
    </div>
    </div>
</div>
</div>


<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class=" card bg-light footer-copyright text-center py-3">© 2020 Copyright:
    <a href="">askany.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.14.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.14.5/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

