<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="jumbotron card ">
  <h1>askany.com</h1>      
  <p>Post any query/thoughts here. Everyone can see your post </p>
</div>


<div class="card border py-3">
  <div class="container">
  <div [hidden]="submitted">
    <h1>Post Here</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="PostModel.name" name="name"
               #name="ngModel" placeholder="Enter your name">
        <div [hidden]="name.valid || name.untouched"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <textarea rows="4" cols="50" name="message" class="form-control" id="message"
               required
               [(ngModel)]="PostModel.message"
               #name="ngModel" placeholder="Enter your message/query/post here">Type here..</textarea><br>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Post</button>
      <hr>
    </form>
  </div>
            <button type="button" class="btn btn-success" (click)="viewAllPost();">View all posts</button>&nbsp; &nbsp; &nbsp; &nbsp;

            <button type="button" class="btn btn-success" (click)="hideAllPost();">Hide all posts</button><br><br>
  <div [hidden]="!submitted">
    <p>{{message_to_user}}</p>
    <button class="btn btn-success" (click)="submitted=false">Back</button>
  </div>

    <div [hidden]="!view_all_post" class="container border py-2 m-2">
      <div class="card py-2 " *ngFor="let post_id of data_length_array">
        <h5><span class="badge badge-secondary py-3 m-3">{{ data[post_id].full_name }}</span><hr></h5>
        <p class="m-2">{{ data[post_id].message }}</p>
        <hr>
        <small>{{data[post_id].like_count}}&nbsp;people{{you}} liked this post</small>
      <div class="text-center py-1">
          <button class="btn btn-success" (click)="like(post_id+1);">like</button>&nbsp;&nbsp;
          <button class="btn btn-success">comment</button><br>
      </div>
      </div>
    </div>
    <div>
    </div>
</div>
</div>


<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class=" card bg-light footer-copyright text-center py-3">© 2020 Copyright:
    <a href="">askany.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
