<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="jumbotron card ">
  <h1>askany.com</h1>      
  <p>Post any query/thoughts here. Everyone can see your post </p>
</div>


<div class="card border py-3">
  <div class="container">
  <div [hidden]="submitted">
    <h1>Post Here</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="PostModel.name" name="name"
               #name="ngModel" placeholder="Enter your name">
        <div [hidden]="name.valid || name.untouched"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <textarea rows="4" cols="50" name="message" class="form-control" id="message"
               required
               [(ngModel)]="PostModel.message"
               #name="ngModel" placeholder="Enter your message/query/post here">Type here..</textarea><br>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Post</button>
      <hr>
            <button type="button" class="btn btn-success" (click)="viewAllPost();">View all posts</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <p>{{message_to_user}}</p>
    <button class="btn btn-primary" (click)="submitted=false">Back</button>
  </div>
  <hr>
      <div class="card">
      <p>all posts can be viewed here</p>
    </div>
</div>
</div>


<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class=" card bg-light footer-copyright text-center py-3">© 2020 Copyright:
    <a href="">askany.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
